    .body,
    html {
        height: 100%;
        font-size: .98vw;
    }
    
    * {
        margin: 0;
        padding: 0
    }
    
    .option-menu,
    .option-menu :hover {
        color: #272727 !important;
        cursor: pointer;
        text-decoration: none !important;
    }
    
    .w-3rem {
        width: 3rem
    }
    
    .col-2 {
        width: 16.666;
    }
    
    .col-4 {
        width: 33.333;
    }
    
    .bloque {
        height: 100px;
        width: 100%;
        float: left;
    }
    
    .App {
        height: 100vh;
        background-color: #ffff;
    }
    
    body {
        font-family: 'GeosansLight';
        font-size: 1.2em;
    }
    
    nav {
        font-family: "Raleway-Bold";
        font-size: 1em;
    }
    
    header {
        font-family: 'Raleway-Light';
        font-size: 13px;
    }
    
    .border-none {
        border: none;
    }
    
    .card-blog {
        height: 30rem;
    }
    /* FONTS */
    
    @font-face {
        font-family: 'Raleway-Bold';
        font-style: normal;
        font-weight: normal;
        src: local('../fonts/Raleway-Bold_0.ttf'), url('../fonts/Raleway-Bold_0.ttf') format('woff');
    }
    
    @font-face {
        font-family: 'Raleway-SemiBold';
        font-style: normal;
        font-weight: normal;
        src: local('../fonts/Raleway-SemiBold_0.ttf'), url('../fonts/Raleway-SemiBold_0.ttf') format('woff');
    }
    
    @font-face {
        font-family: 'Raleway-SemiBoldItalic';
        font-style: normal;
        font-weight: normal;
        src: local('../fonts/Raleway-SemiBoldItalic_0.ttf'), url('../fonts/Raleway-SemiBoldItalic_0.ttf') format('woff');
    }
    
    @font-face {
        font-family: 'Raleway-Medium';
        font-style: normal;
        font-weight: normal;
        src: local('../fonts/Raleway-Medium_0.ttf'), url('../fonts/Raleway-Medium_0.ttf') format('woff');
    }
    
    @font-face {
        font-family: 'Raleway-Light';
        font-style: normal;
        font-weight: normal;
        src: local('../fonts/Raleway-Light_0.ttf'), url('../fonts/Raleway-Light_0.ttf') format('woff');
    }
    
    @font-face {
        font-family: 'Raleway-Medium';
        font-style: normal;
        font-weight: normal;
        src: local('../fonts/Raleway-Medium_0.ttf'), url('../fonts/Raleway-Medium_0.ttf') format('woff');
    }
    
    @font-face {
        font-family: 'Raleway-MediumItalic_0';
        font-style: normal;
        font-weight: normal;
        src: local('../fonts/Raleway-MediumItalic_0.ttf'), url('../fonts/Raleway-MediumItalic_0.ttf') format('woff');
    }
    
    @font-face {
        font-family: 'Raleway-Regular';
        font-style: normal;
        font-weight: normal;
        src: local('../fonts/Raleway-Regular_0.ttf'), url('../fonts/Raleway-Regular_0.ttf') format('woff');
    }
    
    @font-face {
        font-family: 'GeosansLight';
        font-style: normal;
        font-weight: normal;
        src: local('../fonts/GeosansLight.woff'), url('../fonts/GeosansLight.woff') format('woff');
    }
    
    @font-face {
        font-family: 'Snell-Roundhand';
        font-style: 'normal';
        font-weight: normal;
        src: local('../fonts/SnellRoundhand-BoldScript.otf'), url('../fonts/SnellRoundhand-BoldScript.otf') format('woff');
    }
    
    .snell-Roundhand {
        font-family: "Snell-Roundhand";
    }
    
    .geosansLight {
        font-family: 'GeosansLight';
        font-weight: "regular"
    }
    
    .raleway-light {
        font-family: 'Raleway-Light';
    }
    
    .raleway-regular {
        font-family: "Raleway-Regular"
    }
    
    .raleway-medium {
        font-family: 'Raleway-Medium';
    }
    
    .raleway-medium-italic {
        font-family: 'Raleway-MediumItalic_0';
    }
    
    .raleway-bold {
        font-family: "Raleway-Bold";
    }
    
    .raleway-semibold {
        font-family: 'Raleway-SemiBold';
    }
    
    .raleway-semibold-italic {
        font-family: 'Raleway-SemiBoldItalic';
    }
    /* FONTS */
    
    .card-title {
        font-family: 'GeosansLight';
        font-size: 1em;
        padding-bottom: .8rem;
        font-weight: bold
    }
   
    .flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
    
    .flexCenter {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
    
    .inline-flex {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex
    }
    
    .color-p-cs {
        color: #403f3f;
    }
    
    .between {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
    
    .around {
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
    
    .flex-end {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end
    }
    
    .flex-column {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
    
    .center {
        text-align: center;
    }
    
    .justify {
        text-align: justify
    }
    
    .text-left {
        text-align: left
    }
    
    .alignSelCenter {
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    }
    
    .rigth {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end
    }
    
    .w10 {
        width: 10%
    }
    
    .w20 {
        width: 20%
    }
    
    .pad-txt-19 {
        padding-left: 0%;
        padding-right: 0%;
        text-align: center;
    }
    
    .w90 {
        width: 90%;
    }
    
    .w15 {
        width: 15%;
        height: auto;
    }
    
    .w40 {
        width: 40%;
    }
    
    .w30 {
        width: 30%;
    }
    
    .w35 {
        width: 35%;
    }
    
    .w45 {
        width: 45%;
    }
    
    .w50 {
        width: 50%;
    }
    
    .w60 {
        width: 60%;
    }
    
    .w65 {
        width: 65%;
    }
    
    .w25 {
        width: 25%;
    }
    
    .w70 {
        width: 70%;
    }
    
    .w80 {
        width: 80%;
    }
    
    .w95 {
        width: 95%;
    }
    
    .w100 {
        width: 100%;
    }
    
    .h50 {
        height: 50%;
    }
    
    .h80 {
        height: 80%;
    }
    
    .h90 {
        height: 90%;
    }
    /* .h-50-rem {
    height: 90vh;
} */
    
    .h100 {
        height: 100%;
    }
    
    .h-1rem {
        height: 1rem;
    }
    
    .h120px {
        height: 120px;
    }
    
    .h500px {
        height: 500px;
    }
    
    .h300px {
        height: 300px;
    }
    
    .black {
        background-color: #2C2C2C;
    }
    
    .black-blog {
        background-color: #2C2C2C;
        width: 50rem;
        position: relative;
        top: 0rem;
        left: 6rem;
    }
    .rotate-90{
        transform: rotate(90deg)
    }
    .article-content {
        position: relative;
        top: -1rem;
    }
    
    .white {
        background-color: white;
    }
    
    .gray {
        background-color: #F1F1F1;
    }
    
    .red {
        background-color: pink;
    }
    
    .bd-bottom {
        border-bottom: 1px solid #b4b0b0;
    }
    
    .bd-top {
        border-top: 1px solid #b4b0b0;
    }
    
    .content-center {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    
    .color-black {
        color: black;
    }
    
    .color-white {
        color: white;
    }
    
    .itemCard {
        border-radius: 1px;
        border: none;
        background-color: #faf9f8;
        /* #e6e6e6;*/
        -webkit-box-shadow: #dae0e5 1px 1px;
        box-shadow: #dae0e5 1px 1px;
    }
    
    .fondo-mantenimiento {
        background-image: url("../img/DIAMANTE_mantenimiento-gino.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 45rem;
        animation-name: fadeIn;
        padding-right: 26% !important;
        padding-top: 12% !important;
        padding-bottom: 17% !important;
    }
    
    .fndo-img1 {
        background-image: url("../img/fondo1-convenios.png");
        background-repeat: no-repeat;
        height: auto;
        /* background-position: center; */
        padding: 8.8rem;
        background-size: cover;
    }
    
    .fndo-img2 {
        background-image: url("../img/INTERIOR01.png");
        background-repeat: no-repeat;
        height: auto;
        background-size: 58% 100%;
        background-position: left;
        padding: 5em;
    }
    
    .fondo-testimonios {
        background-image: url("../img/testimonios-fondo.png");
        background-repeat: no-repeat;
        background-repeat: no-repeat;
        background-size: cover;
        height: 50rem;
    }
    
    .fndo-5cs {
        background-image: url("../img/5cs.svg");
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: bottom;
        background-position-x: left;
    }
    
    .fondo-item-plus {
        background-image: url("../img/fondo-item-plus.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .fondo-item {
        background-image: url("../img/fondo-item.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 43rem;
    }
    
    .fondo-icon {
        background-image: url("../img/icon_.svg");
        background-repeat: no-repeat;
        background-size: 22rem;
        background-position-y: bottom
    }
    
    .fondo-shine {
        background-image: url("../img/diamante-bgs_01.png");
        background-repeat: no-repeat;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }
    
    .fondo-shine-5cs {
        background-image: url("../img/diamante-bgs_01.png"), url("../img/5cs.svg");
        background-position: top, left bottom;
        background-repeat: no-repeat, no-repeat;
        background-size: 100%, 50%;
        background-blend-mode: multiply;
    }
    
    .fondoCompromiso {
        background-image: url("../img/fondo-contacto1.png");
    }
    
    .foto-testimonio {
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        margin: 0 auto;
        margin-bottom: 2rem;
    }
    
    .interline {
        font-size: 1.2em;
        line-height: 1em;
    }
    
    .interline1 {
        line-height: 1.3em;
        font-size: 1.2em
    }
    
    .interline2 {
        line-height: 1.5em;
    }
    
    .pb-pt-4rem {
        padding-top: 4rem;
        padding-bottom: 4rem
    }
    
    .pb-9 {
        padding-bottom: 9rem !important
    }
    
    .border-gray {
        border: 1px solid #e6e3e3;
    }
    
    .mL-R-10 {
        margin-left: 10%;
        margin-right: 10%;
    }
    
    .input-suscribete {
        font-size: 10px;
        margin: 1em;
    }
    
    .font-size-1rem {
        font-size: 1rem;
    }
    
    .text-size10 {
        font-size: 10px
    }
    
    .text-size12 {
        font-size: .9rem
    }
    
    .text-size07 {
        font-size: .7em
    }
    
    .text-size13 {
        font-size: 13px
    }
    
    .text-size14 {
        font-size: 1.1rem
    }
    
    .text-size16 {
        font-size: 16px
    }
    
    .text-size18 {
        font-size: 18px
    }
    
    .text-size27 {
        font-size: 1.5rem;
    }
    
    .spacing4 {
        letter-spacing: 4px;
    }
    
    .font-size-1 {
        font-size: 1.3em
    }
    
    .font-size-1em {
        font-size: 1em
    }
    
    .font-size-2em {
        font-size: 1.5rem
    }
    
    .spacing3 {
        letter-spacing: 3px
    }
    
    .fontsz-5 {
        color: #828080;
        margin-bottom: 0 !important;
        text-align: left;
        line-height: 1 !important;
        font-size: 4rem;
    }

    .allCenter {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
    }
    
    .contCenter {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
    
    .vh100 {
        height: 100vh;
    }
    
    .vw100 {
        width: 100vw
    }
    
    .vh20 {
        height: 20vh;
    }
    
    .vh80 {
        height: 80vh;
    }
    
    .vhw50 {
        height: 50vh;
        width: 50vw
    }
    
    .w60rem {
        width: 60rem;
    }
    
    .w40rem {
        width: 40rem;
    }
    
    .vh50 {
        height: 50vh;
    }
    
    .pad-lr-8 {
        padding-left: 8%;
        padding-right: 8%
    }
    
    .ml-15 {
        margin-left: 15%;
    }
    /* MOTIVOS */
    
    .flexWrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%;
    }
    .adap-width{
        width: 100%
    }
    .flexWrap .item {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
        flex: 1 0 50%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        color: #171e42;
        padding-left: 3%;
        padding-right: 2%;
    }
    
    .p-motivos {
        margin-left: 3%;
        margin-bottom: 0;
        text-align: left;
    }
    
    .logoCenter {
        padding-left: 6rem;
        width: 13rem;
    }
    /* MOTIVOS */
    
    .box,
    .box:hover,
    .box:active {
        margin: 0px;
        height: 100%;
    }
    
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    
    .logoPremios {
        width: 30rem;
        position: relative;
        left: 2rem;
    }
    
    .logoCic {
        border-radius: 50%;
    }
    
    .mL-R10 {
        margin-left: 10%;
        margin-right: 10%;
    }
    
    .b-all {
        border: 0.1px solid rgb(105, 104, 104)
    }
    
    .grayNav {
        background-color: #E6E6E6;
        font-size: 1em
    }
    
    .dest {
        display: none
    }
    
    .buttonOfNavStyle {
        border: none;
        padding: 0.7% !important;
        padding-right: 3% !important;
        padding-left: 3% !important;
        font-size: 0.7em;
        background-color: #Fff;
    }
    
    .buttonOfNavStyle:focus,
    .buttonOfNavStyle:active,
    .buttonOfNavStyleGray:focus,
    .buttonOfNavStyleGray:active {
        outline: none;
    }
    
    .plusSize {
        font-size: 1.5em;
    }
    
    .startItem {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: start;
    }
    
    .Pd20 {
        padding-top: 6%;
    }
    
    .animated {
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both
    }
    
    .fast {
        -webkit-animation-duration: 0.4s;
        animation-duration: 0.4s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both
    }
    
    @-webkit-keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    
    .fadeIn {
        -webkit-animation-name: fadeIn;
        animation-name: fadeIn;
    }
    
    .fndo-certificaciones {
        background-color: #e9e9e9;
    }
    
    .bg-b1b6ba {
        background-color: #b1b6ba
    }
    
    .arrow {
        color: black;
        margin: 0.5em;
    }
    
    .mr-auto {
        margin-right: auto
    }
    
    .card-img-top {
        width: 73%;
        margin-left: 5%;
        margin-right: 5%;
    }
    
    .borderBold {
        /* border: 1em solid #e3e7e8; */
        /*#d2cbbd #e6e6e6*/
        position: relative;
    }
    
    .joya {
        position: absolute;
        display: flex;
        top: 70%;
        background-color: black;
        color: #fff;
        font-size: 1rem;
        padding: 0.2em 2em;
        cursor: pointer;
        text-align: center;
        width: 50%;
        box-sizing: content-box;
        border: solid 0.1em #000;
        padding: 0.1em;
        background-clip: content-box;
        background-color: #0f0f0f;
        height: auto;
        justify-content: center;
        align-items: center;
    }
    .one-diamante{
        display: flex;
        justify-content: flex-end;
    }
    .more-diamante{
        display: flex;
        justify-content: flex-start;
    }
    .left-rigth-10{
        padding-left: 10rem;
        padding-right: 10rem;
    }
    .joya span {
        font-size: 1rem;
        padding: 0.83rem;
    }
    
    .joya .plusspan {
        font-size: 2rem;
        padding: 0rem;
        padding-right: .5rem;
    }
    .btn-solitario{
        right: 4rem;
    }
    .btn-diamantes{
        left: 4rem;
    }
    
    .carousel-caption {
        bottom: 29.5%;
    }
    
    .btn,
    .btn:hover {
        background-color: black;
        color: white;
        font-size: 1em;
        border-radius: 0;
        box-shadow: none !important;
    }
    
    .navbar-horizontal {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        width: 100vw !important;
        left: -35vw !important;
        top: 32px !important;
    }
    
    .navbar-horizontal2 {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        width: 100vw !important;
        left: -47vw !important;
        top: 32px !important;
    }
    
    .navbar-horizontal3 {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        width: 100vw !important;
        left: -58vw !important;
        top: 32px !important;
    }
    
    .off {
        visibility: hidden !important;
        display: none !important;
    }
    
    .contact-us {
        height: 3rem;
    }
    
    .pad-l-t-3 {
        padding-left: 3%;
        padding-right: 3%;
    }
    
    .container-contact {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    
    .w62 {
        width: 62%;
    }
    
    .btn-flat {
        padding: .6rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    
    .border-gray-3 {
        border-top: 0.1em solid #b4b0b0;
        border-left: 0.1em solid #b4b0b0;
        border-bottom: 0.1em solid #b4b0b0;
        border-right: none;
        padding: 0.5rem !important;
        width: 40%;
    }
    
    .pad-txt-19 {
        padding-left: 19%;
        padding-right: 19%;
        text-align: center;
    }
    
    .background-ring {
        border-radius: 1px;
        border: none;
        background-color: #fdfeffba;
        box-shadow: #dae0e5 1px 1px;
    }
    
    .text-centered {
        text-align: left;
    }
    
    .gray-text-centered {
        text-align: center;
        padding: 3%;
    }
    
    .top10 {
        top: 10em
    }
    
    .top50vh {
        top: 25vh;
    }
    
    .right3 {
        right: 10rem;
        top: 20rem;
        z-index: 1;
    }
    
    .left3 {
        left: 10rem;
        top: 20rem;
        z-index: 1;
    }
    
    .left3-premios {
        left: 10rem;
        top: 15rem;
        z-index: 1;
    }
    
    .right3-premios {
        right: 10rem;
        top: 15rem;
        z-index: 1;
    }
    
    .pad-2 {
        padding: 2em;
    }
    
    .fnt-w-bold {
        font-weight: bold;
    }
    
    .text-1-5 {
        font-size: 1.5em;
    }
    
    .card-body {
        -ms-flex: 1 1 auto;
        -webkit-box-flex: 1;
        flex: 1 1 auto;
        padding: 0px;
    }
    
    .dropdown-menu.show {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
    }
    
    .dropdown {
        position: unset !important;
    }
    
    .dropdown-menu {
        width: 100vw;
        top: auto;
        margin-top: 0px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    
    .dropdown-item {
        width: auto;
        text-align: center;
    }
    
    .principal-text-navbar {
        height: -moz-fit-content;
        height: -webkit-fit-content;
        height: fit-content;
        margin-bottom: 0rem !important;
    }
    
    .dropdown-item:hover {
        background-color: transparent;
        color: black;
    }
    
    .cuadro {
        position: absolute;
        left: 3%;
        top: 20rem;
        z-index: 1;
        background-color: #2C2C2C;
        color: #fff;
        font-size: 1.2em
    }
    
    .img-blog-principal {
        right: 0;
        margin-left: 20%;
        height: auto;
    }
    
    .leer-mas-blog {
        margin-left: 70%
    }
    
    .cardImgItem {
        width: 90%;
    }
    
    .text-inputs-radio {
        color: #808080
    }
    
    .title-radio {
        font-family: 'Raleway-Medium';
    }
    
    .inputOfCode {
        height: calc(3rem + 2px);
        border-radius: 1px;
    }
    /* input */
    
    section.input-container label {
        position: relative;
        display: block;
    }
    
    .m-auto-premios {
        margin: 0 auto;
        width: 50%
    }
    
    .black-margin-btn {
        border: none;
        background: #e6e6e6;
        color: #000000;
        padding: .3rem;
        margin-bottom: 2.5em;
        margin-top: 2.5em;
    }
    
    .title-article {
        padding: 2.5em;
        padding-left: 3em;
        padding-right: 4.5em;
    }
    
    .line-heigth-1 {
        line-height: 0.9em
    }
    
    .bd-right {
        border-right: 1px solid;
    }
    
    .pr-0 {
        padding-right: 0;
    }
    
    .container-text {
        padding-bottom: 0px !important;
        margin-bottom: 0px !important;
    }
    
    .afterContact {
        flex-direction: column;
        width: 100%;
        display: flex;
        justify-content: center;
        height: 28rem;
    }
    
    .arrowGoback {
        font-size: 3rem;
        color: #727477;
        position: absolute;
    }
    
    .cont-ben {
        max-width: 100% !important;
    }
    
    .ben-round {
        width: 62%;
    }
    
    .cind-ben {
        bottom: -26px;
    }
    
    .matriArrow {
        top: 12rem;
    }
    
    .fndo-motivos-res {
        width: 13rem;
    }
    
    .mb-5rem {
        margin-bottom: 8rem
    }
    
    .goBackBlog {
        margin-top: 0rem;
        left: 4rem;
    }
    
    .grayEvite {
        background-color: #E6E6E6;
    }
    
    .float,
    .float:hover {
        position: fixed;
        width: 5rem;
        height: 5rem;
        bottom: 2rem;
        right: 2rem;
        background-color: #2c2c2c;
        color: #FFF;
        border-radius: 50px;
        text-align: center;
        font-size: 3.5rem;
        box-shadow: 2px 2px 3px #999;
        z-index: 100;
    }
    
    .my-float {
        margin-top: 16px;
    }
    
    .img-art-rel-icon {
        width: 3rem;
        height: 2em;
        margin-right: 1rem;
    }
    
    .container-another-articles {
        position: relative;
        top: -9rem;
    }
    
    .img-art-rel {
        width: 7rem;
        height: 4em;
    }
    
    .text-each-rel-art {
        font-family: "Raleway-Regular";
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    
    .each-article-container {
        padding: .5em;
    }
    
    .mb0 {
        margin-bottom: 0;
    }
    
    .pt-3em {
        padding-top: 3em;
    }
    
    .container-article {
        position: relative;
        text-align: justify
    }
    
    .img-min-blog {
        width: 100%;
    }
    
    .form-control:focus {
        color: #495057;
        background-color: #fff;
        border-color: #495057;
        outline: 0;
        -webkit-box-shadow: 0px 0px 0px 0.2rem rgba(73, 80, 87, 0.231);
        box-shadow: 0px 0px 0px 0.2rem rgba(73, 80, 87, 0.231);
    }
    
    .hr-cs {
        background-color: rgb(10, 10, 10);
        height: 1px;
        border: 0;
        margin: 1em auto;
    }
    
    .leer-5cs {
        position: absolute;
        bottom: 1em;
        right: 2em;
    }
    
    .style-z-index {
        background: white;
        z-index: 25;
    }
    
    .diamante {
        background-image: url(../img/fondo-contacto.png);
        background-size: cover;
    }
    
    .white-background-text {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        height: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    
    .real-white {
        margin: 4em;
        height: 55%;
        width: 66%;
        padding: 4rem;
        padding-bottom: 0em;
        text-align: center;
        background-color: white;
    }
    
    .real-white1 {
        padding-bottom: 4rem;
    }
    
    .contact-input-size {
        border: none;
        border-bottom: 1px #b4b0b0 solid;
        font-size: 1rem;
        margin: 1rem;
        width: 40%;
    }
    
    .textarea {
        resize: none;
        width: 100%;
        height: 2.2rem;
        width: 84%;
        margin-top: 4%;
        border-bottom: 1.5px#b4b0b0 solid;
    }
    
    .container-text-inputs {
        padding: 4%;
        padding-top: 0%;
    }
    
    .btn-contact {
        position: relative;
        top: 1rem;
        width: 20%;
        width: 80%;
    }
    
    .container-more-contact {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        font-size: 1rem;
    }
    
    .consultas {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    
    .left-2 {
        left: -2rem;
    }
    
    .right-2 {
        right: -2rem;
    }
    
    .p-right-05 {
        padding-right: .5rem;
    }
    .p-left-2{
        padding-left: 2rem;
    }
    .text-decoration,
    .text-decoration:hover,
    .text-decoration:active {
        color: white !important;
        text-decoration: none;
    }
    
    input[type="radio"] {
        position: absolute;
        clip: rect(0, 0, 0, 0);
    }
    
    input[type="radio"]+label::before {
        content: '\a0';
        display: inline-block;
        margin: .2em .5em;
        width: 1rem;
        height: 1rem;
        line-height: .75em;
        transition: all .5s;
        border: 1px solid silver;
    }
    
    input[type="radio"]+label::before {
        border-radius: 50%;
    }
    
    input[type="radio"]:checked+label::before {
        content: '\a0';
        background: rgb(83, 82, 82);
        border: 1px solid white;
        box-shadow: inset 0 0 0 1px white, 0 0 0 1px rgb(83, 82, 82);
    }
    
    .text-dec-black,
    .text-dec-black :hover,
    .text-dec-black :active {
        color: #272727 !important;
        text-decoration: none !important;
    }
    .mt-testimonio{
        margin-top: 12rem;
    }
    .testimonio-center-foto{
        width: 80%;
        margin: 0 auto
    }
    @media screen and (max-width:768px) {
        .left3-premios {
            left: 6rem;
            top: -2.8rem;
            z-index: 1;
        }
        .right3-premios {
            right: 6rem;
            top: -2.8rem;
            z-index: 1;
        }
        .fndo-motivos-res {
            width: 50%;
        }
        .logoPremios {
            width: 18rem;
            left: 1.5rem;
        }
        .m-auto-premios {
            width: 80%
        }
        .float,
        .float:hover {
            width: 3rem;
            height: 3rem;
            font-size: 2rem;
        }
        .fondo-icon {
            background-size: 15rem;
        }
        /* .itempluss {
            height: auto !important;
        } */
        .horariosAtencion {
            padding-left: 3.5rem;
            padding-right: 3.5rem;
        }
        .cierreRefrigerio {
            padding-left: .5rem;
            padding-right: .5rem;
        }
        .container-text {
            padding-bottom: 0px !important;
            padding: .5rem!important;
            margin: 1rem!important;
        }
        .w30-xs {
            width: 50%;
            font-size: 70%;
        }
        .p-0-xs {
            padding: 0px !important;
        }
        .text-each-rel-art {
            margin: 0px !important;
            font-family: "Raleway-Regular";
        }
        .each-article-container {
            padding: .5em;
            margin: 0px !important;
        }
        .container-another-articles {
            width: 100vw;
            top: -3rem;
        }
        .d-block-xs {
            display: block;
        }
        .xs-100 {
            width: 100vw;
        }
        .m-0-xs {
            margin: 0rem!important;
            padding: 2em 2em 0 2em;
        }
        .flexWrap-xs {
            -ms-flex-wrap: wrap;
            flex-wrap: wrap
        }
        .img-blog-principal {
            position: relative;
            width: 100%;
            margin-left: 0;
        }
        .cuadro {
            width: 80%;
            top: 39rem;
            margin-left: 7%;
            padding: 1em !important;
            font-size: 2rem !important;
        }
        .leer-mas-blog {
            margin-left: 50%
        }
        .dropdown-item {
            text-align: left;
        }
        .vh20 {
            height: 20vh;
        }
        .vh80 {
            height: 80vh;
        }
        .bolder-xs {
            font-weight: bolder;
        }
        .flex-wrap-xs {
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }
        .cel {
            display: none
        }
        .dest {
            display: block
        }
        .grayNav {
            text-align: left;
            background-color: rgba(255, 255, 255, 0.9)
        }
        .navbar-horizontal1 {
            display: block;
            width: 100%;
            left: 0;
            top: 0
        }
        .flex-column-reverse1 {
            -webkit-box-orient: vertical;
            -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
        }
        .w100-xs {
            width: 100%;
        }
        .btn-flat {
            padding: 3.5%;
        }
        .border-gray-3 {
            border: 0.1px solid;
            margin-bottom: 0.5em;
            padding: 0.63rem !important;
            width: 100%;
            text-align: center;
        }
        .form-xs {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-flow: column;
            flex-flow: column;
            padding-left: 20%;
            padding-right: 20%;
        }
        .pad-txt-19 {
            padding-left: 0%;
            padding-right: 0%;
            text-align: center;
        }
        .blue-background {
            background-color: #435b76;
        }
        .text-centered {
            text-align: center;
        }
        .gray-xs {
            background-color: #F1F1F1;
        }
        .w87-xs {
            width: 87%;
        }
        .fndo-img1 {
            background-size: 200% 100%;
            padding: 5em;
            background-position-x: left;
            padding: 0
        }
        .pad-5-xs {
            padding: 5em;
        }
        .fndo-img2 {
            padding: 5em;
            background-size: cover;
            background-position: center;
            padding-right: 0;
        }
        .pad-3 {
            padding: 3%;
        }
        .gray-text-centered {
            text-align: center;
        }
        .pad-14 {
            padding: 8%;
            padding-right: 7%;
        }
        .convenioRes {
            width: 100%;
        }
        .right3 {
            right: 1rem;
            top: 10rem;
        }
        .left3 {
            left: 1rem;
            top: 10rem;
        }
        .joya {
            width: 60%;
            height: auto;
        }
        .diamantes-xs {
            width: 80%
        }
        .dropdown-menu.show {
            display: block;
            background-color: #fff0;
        }
        .one-diamante{
            justify-content: center;
        }
        .more-diamante{
            justify-content: center;
        }
        .btn-solitario{
           right: auto;
        }
        .btn-diamantes{
            left: auto;
        }
    }
    
    @media screen and (max-width:767px) {
        .one-diamante{
            justify-content: center;
        }
        .more-diamante{
            justify-content: center;
        }
        .left-rigth-10{
            padding-left: 0rem;
            padding-right: 0rem;
        }
        .solitario{
            padding: 0rem!important;
        }
        .mt-testimonio{
            margin-top: 3rem;
        }
    
        .adap-width{
            width: 100% !important
        }
        .container-another-articles {
            width: 100vw;
            top: -3rem;
        }
        .fondo-icon {
            background-size: 9rem;
        }
        .article-content {
            position: inherit;
        }
        .black-blog {
            width: 25rem;
            position: inherit;
        }
        html {
            font-size: 4vw;
        }
        .flexWrap-eleccion-xs {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
        }
        .w15-xs {
            width: 100%;
            height: auto;
        }
        .w30-xs {
            width: 40% !important;
            font-size: 100% !important
        }
        .contact-input-size {
            margin: 0rem;
            width: 90%;
            padding: .5rem;
        }
        .flex-input {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }
        .real-white {
            margin: 1rem;
            margin-top: 2rem;
            height: 55%;
            width: 90%;
            padding: 2rem;
        }
        .btn-contact {
            width: 85%;
        }
        .contact-input-size {
            font-size: 100%;
            margin: 0rem;
            width: 90%;
        }
        .real-white {
            margin: 1em;
            height: 55%;
            width: 90%;
            padding: 2rem;
        }
        .vh80-xs {
            height: auto !important;
        }
        .container-article {
            position: relative;
            top: 0;
        }
        .mt-4-xs {
            margin-top: 0!important
        }
        .title-article {
            padding: 2em;
            padding-left: 2em;
            padding-right: 2em;
        }
        .fondo-testimonios {
            height: 40rem;
            background-position-x: center;
        }
        .fondo-mantenimiento {
            background-size: contain;
            background-position-y: bottom;
            background-color: #eededf;
            height: 25rem;
            padding-right: 0% !important;
            padding-top: 12% !important;
            padding-bottom: 17% !important;
        }
        .w50-xs {
            width: 100%;
        }
        .gia-logo-xs {
            margin-left: 0;
        }
        .w60 {
            width: 100%
        }
        .popular-art {
            margin-left: 2.5rem !important;
        }
        .container-article {
            top: 0px;
        }
        .flexWrap-xs {
            -ms-flex-wrap: wrap;
            flex-wrap: wrap
        }
        .mt4-xs {
            margin-top: 11rem !important
        }
        .pt-5-xs {
            padding-top: 1em !important
        }
        .img-blog-principal {
            position: relative;
            width: 100%;
            margin-left: 0;
        }
        .cuadro {
            width: 80%;
            left: 0;
            margin-left: 10%;
            top: 10em !important;
            padding: 1em !important;
            font-size: 1rem;
            text-align: center
        }
        .leer-mas-blog {
            margin-left: 50%
        }
        .noPortada {
            display: none;
        }
        .portada {
            background-repeat: no-repeat;
            height: 90vh;
            height: calc(100vh - 6rem);
            background-size: 100% 100%, cover;
            background-position-x: center;
            background-position-y: 67%;
        }
        .m4-xs {
            margin-left: 2em !important;
            margin-right: 2em !important;
            margin-top: 1em !important;
        }
        .gray-text-centered {
            text-align: right;
        }
        .mr-auto {
            margin-right: 0
        }
        body {
            font-size: 80%;
        }
        .div-5cs {
            width: 100%;
        }
        p {
            font-size: 100%;
            text-align: justify
        }
        span {
            font-size: 100% !important
        }
        .arrow-see-more {
            font-size: 1.3em !important;
            padding-left: .5em;
        }
        .responsive-certificacion {
            width: 100%;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
        }
        .pad-l-responsive {
            margin-left: 0%;
        }
        .wResponsive100 {
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }
        .flexWrap .item {
            margin: 0.2rem;
        }
        .flex-Wrap-Responsive {
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center
        }
        .p-motivos {
            text-align: center;
            margin-bottom: 5%;
            font-size: 1.3rem
        }
        .w50 .pad-l-8 {
            padding-left: 0;
            margin-bottom: 4%;
        }
        .card-title {
            text-align: center
        }
        
        .vhEleccion {
            height: 100%
        }
        .none {
            display: none;
        }
        .burger-text-right {
            width: 100%;
            text-align: right
        }
        .burger-rigth {
            text-align: right;
            width: 80%;
            background: rgba(255, 255, 255, 0.9);
            padding: 2em;
            margin-left: auto;
        }
        .cel {
            display: none
        }
        .dest {
            display: block
        }
        .menuRigth {
            z-index: 1;
            position: absolute;
            right: 0;
            height: 100vh;
        }
        .img-logo {
            margin: 0;
            padding: 0;
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start;
        }
        .logo {
            width: 6em;
            margin: 0 !important;
            padding-left: 0 !important
        }
        .card-img-top {
            width: 50%;
            margin-left: 25%;
            margin-right: 25%;
        }
        .grayNav {
            text-align: right;
            background-color: rgba(255, 255, 255, 0.9);
        }
        .w100-xs {
            width: 100%;
        }
        .m4-xs {
            margin: 2em
        }
        .diamante-xs {
            width: 80%
        }
        .left-xs {
            z-index: 1;
            position: absolute;
            left: -2em;
            top: 6em;
        }
        .right-xs {
            z-index: 1;
            position: absolute;
            right: -2em;
            top: 6em;
        }
        .dropdown-menu {
            width: 100% !important;
        }
        .dropdown-item {
            text-align: right !important;
            padding-right: 0
        }
        .container-contact {
            padding-bottom: 1em
        }
    }
    
    @media (min-width :769px) and (max-width:1002px) {
        .container-contact {
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: right;
            -ms-flex-pack: right;
            justify-content: right;
        }
        .adap-width{
            width: 90%
        }
    }
    
    @media screen and (max-width:991px) {
        .p-left-2{
            padding-left: 0rem
        }
        .adap-width{
            width: 90%
        }
        .w30-xs {
            width: 50%;
            font-size: 80%;
        }
        .container-more-contact {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            font-size: 100%;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            /* margin-bottom: 1rem; */
            margin-top: 1rem;
        }
        .container-article {
            position: relative;
            top: 0;
        }
        .dropdown-menu.show {
            display: block;
            background-color: #fff0;
        }
        .dropdown-item {
            text-align: left;
        }
        /* .leer-mas-blog {
        margin-left: 70%
    }*/
        .img-blog-principal {
            position: relative;
            width: 100%;
            margin-left: 0;
        }
        .cuadro {
            width: 80%;
            left: 0;
            top: 39rem;
            margin-left: 10%;
            padding: 1em !important;
            font-size: 1.2rem !important;
            text-align: center
        }
    }
    
    @media screen and (max-width:1120px) {
        .carousel-inner1 {
            width: 100% !important;
        }
        .flexWrap-xs {
            -ms-flex-wrap: wrap;
            flex-wrap: wrap
        }
        .adap-width{
            width: 90%
        }
    }
    @media screen and (max-width:1280px) {
    
        .adap-width{
            width: 90%
        }
    }
    @media screen and (min-width:2120px) {
        .carousel-inner1 {
            width: 100% !important;
        }
    }
    
    .noPortada {
        display: block;
    }
    
    .portada {
        display: none;
    }
    /* radio */
    
    .background-carrousel-ring {
        background: #fffc;
        -webkit-box-shadow: 7px 10px 5px -7px rgba(199, 199, 199, 1);
        -moz-box-shadow: 7px 10px 5px -6px rgba(199, 199, 199, 1);
        box-shadow: 7px 10px 5px -7px rgba(199, 199, 199, 1);
    }
    
    .border-carrousel {
        border: 1px solid #ebebeb !important;
    }